/* src/POPOSList.css */
.POPOSList {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    max-width: 1200px;
    padding: 2em;
  }

@media only screen and (max-width: 960px) {
  .POPOSList {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .POPOSList {
    grid-template-columns: 1fr;
  }
}