/*  src/Title.css  */
.Title  {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(228, 173, 203);
    color: #fff;
  }

.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
}

.Title a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
}

.Title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
}